{
    "vm_name": "srv99",
    "vrde_port": "4799",
    "hd_size_in_gb": "10",
    "memory_size": "1024",
    "bridging_iface": "eth0",
    "mac_addr": "",
    "cpu_count": "2",
    "hd_files_directory": "~/VirtualBox\\ VMs",
    "create_from_iso_file": "~/iso/debian-8.2.0-amd64-netinst.iso"
}
